# Site settings
title: My Documentation Site
description: Website dokumentasi dengan gaya modern
baseurl: "documentation" # Ganti dengan /nama-repo jika deploy ke GitHub Pages di repo
url: "https://lubisrezanoprial.github.io" # Ganti dengan URL GitHub Pages Anda

# Build settings
markdown: kramdown
highlighter: rouge

# Collections untuk dokumentasi
collections:
  docs:
    output: true
    permalink: /docs/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "docs"
    values:
      layout: "docs"
  - scope:
      path: ""
    values:
      layout: "default"

# Exclude files
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

# Plugin (opsional, untuk GitHub Pages)
plugins:
  - jekyll-feed
  - jekyll-sitemap
